<!DOCTYPE html>
<html lang="en">
<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat Room [{{room_id}}]</title>
</head>
<body>

    <div class="heading mb-4">
        <h1 class="display-4">Video Chat</h1>        
        <h4>You are about to join room: {{room_id}}</h4>
    </div>

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mb-5">
                <h4>What should others see you as?</h4>
                <p>
                    Enter a Name that your friends will be able to recognize you with <br>
                    This name will be displayed to others!
                </p>
                <form method="POST" class="form shadow" style="max-width:400px; margin-left: auto; margin-right: auto;">
                    <div class="input-group mb-3">
                        <input type="text" name="display_name" id="display_name" class="form-control" placeholder="Display Name">
                        <div class="input-group-append">
                            <input type="submit" value="Join" class="btn btn-primary">
                            <input type="hidden" value="0" name="mute_audio" id="mute_audio_inp">
                            <input type="hidden" value="0" name="mute_video" id="mute_video_inp">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 shadow p-0">
                <div class="vid-wrapper" style="width: 100%; background-color: rgb(20,20,20);">
                    <video id="local_vid" autoplay muted style="max-height: 400px; max-width: 100%;"></video>
                </div>
                <div class="p-3 w-100 bg-light" >
                    <button id="bttn_mute" class="btn btn-lg btn-outline-secondary rounded-circle mx-3">
                        <span id="mute_icon" class="material-icons pt-2">
                            mic
                        </span>
                    </button>
                    <button id="bttn_vid_mute"class="btn btn-lg btn-outline-secondary rounded-circle mx-3">
                        <span id="vid_mute_icon" class="material-icons pt-2">
                            videocam
                        </span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <script>
        var muteAudioField = document.getElementById("mute_audio_inp");
        var muteVideoField = document.getElementById("mute_video_inp");
        var audioMuted = false;
        var videoMuted = false;

        var muteBttn = document.getElementById("bttn_mute");
        var muteVidBttn = document.getElementById("bttn_vid_mute");
        var myVideo = document.getElementById("local_vid");

        muteBttn.addEventListener("click", (event)=>{
            audioMuted = !audioMuted;
            let local_stream = myVideo.srcObject;
            local_stream.getAudioTracks().forEach((track)=>{track.enabled = !audioMuted;});

            muteAudioField.value = (audioMuted)? "1":"0";

            // switch button icon
            document.getElementById("mute_icon").innerText = (audioMuted)? "mic_off": "mic";
        });

        muteVidBttn.addEventListener("click", (event)=>{
            videoMuted = !videoMuted;
            let local_stream = myVideo.srcObject;
            local_stream.getVideoTracks().forEach((track)=>{track.enabled = !videoMuted;});

            muteVideoField.value = (videoMuted)? "1":"0";

            // switch button icon
            document.getElementById("vid_mute_icon").innerText = (videoMuted)? "videocam_off": "videocam";
        });
        
        


        var mediaConstraints = {
            audio: true, // We want an audio track
            video: {
                height: 360
            } // ...and we want a video track
        };
        navigator.mediaDevices.getUserMedia(mediaConstraints)
        .then((stream)=>{
            document.getElementById("local_vid").srcObject = stream;
        })
        .catch((e)=>{
            console.log("Error! Unable to start video! ", e);
        });

        

    </script>
    
    
</body>
</html>