<!DOCTYPE html>
<html lang="en">
<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

    <script type="text/javascript"> var myRoomID = "{{room_id}}"; var myName = "{{display_name}}"; </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potato Meet</title>
</head>
<body>
    
    <div class="heading mb-4">
        <h1 class="display-4">Video Chat</h1>
        <div class="room-info">
            <h2>Room: {{room_id}}</h2>
            <h4>You have joined as {{display_name}}</h4>
            <h6>Ask your friends to join using room id: {{room_id}}</h6>
        </div>
    </div>
        
    <div class="container-fluid">
        <div id="video_grid" class="video-grid"></div>

        <div id="control_box" class="row control-box shadow">
            <div class="col-7 col-md-8 col-lg-9 d-flex justify-content-around align-items-center button-box">
                
                <button id="bttn_mute" class="btn btn-lg btn-outline-secondary rounded-circle">
                    <span id="mute_icon" class="material-icons pt-1">
                        mic
                    </span></button>
                <button id="bttn_vid_mute"class="btn btn-lg btn-outline-secondary rounded-circle">
                    <span id="vid_mute_icon" class="material-icons pt-1">
                        videocam
                    </span></button>
                <button id="call_end" class="btn btn-lg btn-danger rounded-circle">
                    <span class="material-icons pt-1">
                        call_end
                    </span>
                </button>
            </div>
            <div id="div_local_vid" class="col-5 col-md-4 col-lg-3 video-item ml-auto">
                <div class="vid-wrapper">
                    <video id="local_vid" autoplay muted></video>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script type="text/javascript">
    var videoGrid = document.getElementById("video_grid");
    
    function makeVideoElement(element_id, display_name)
    {
        let wrapper_div = document.createElement("div");
        let vid_wrapper = document.createElement("div");
        let vid = document.createElement("video");
        let name_text = document.createElement("div");

        wrapper_div.id = "div_"+element_id;
        vid.id = "vid_"+element_id;

        wrapper_div.className = "shadow video-item";
        vid_wrapper.className = "vid-wrapper";
        name_text.className = "display-name";
        
        vid.autoplay = true;        
        name_text.innerText = display_name;

        vid_wrapper.appendChild(vid);
        wrapper_div.appendChild(vid_wrapper);
        wrapper_div.appendChild(name_text);

        return wrapper_div;
    }
    
    function addVideoElement(element_id, display_name)
    {        
        videoGrid.appendChild(makeVideoElement(element_id, display_name));
    }
    function removeVideoElement(element_id)
    {
        document.getElementById("div_"+element_id).remove();
    }

    function getVideoObj(element_id)
    {
        return document.getElementById("vid_"+element_id);
    }
    
    var myID;
    var _peer_list = {};
    
    var myVideo = document.getElementById("local_vid");
    myVideo.onloadeddata = ()=>{console.log("W,H: ", myVideo.videoWidth, ", ", myVideo.videoHeight);};

    var muteBttn = document.getElementById("bttn_mute");
    var muteVidBttn = document.getElementById("bttn_vid_mute");
    var callEndBttn = document.getElementById("call_end");
    var audioMuted = false;
    var videoMuted = false;

    muteBttn.addEventListener("click", (event)=>{
        audioMuted = !audioMuted;
        let local_stream = myVideo.srcObject;
        local_stream.getAudioTracks().forEach((track)=>{track.enabled = !audioMuted;});

        // switch button icon
        document.getElementById("mute_icon").innerText = (audioMuted)? "mic_off": "mic";
    });

    muteVidBttn.addEventListener("click", (event)=>{
        videoMuted = !videoMuted;
        let local_stream = myVideo.srcObject;
        local_stream.getVideoTracks().forEach((track)=>{track.enabled = !videoMuted;});

        // switch button icon
        document.getElementById("vid_mute_icon").innerText = (videoMuted)? "videocam_off": "videocam";
    });

    var mediaConstraints = {
        audio: true, // We want an audio track
        video: {
            height: 360
        } // ...and we want a video track
    };
    
    // socketio setup
    var protocol = window.location.protocol;
    var socket = io.connect(protocol + '//' + document.domain + ':' + location.port);

    socket.on("connect", ()=>{
        console.log("socket connected....");
        socket.emit("join-room", {"room_id": myRoomID});
    });

    
    socket.on("user-connect", (data)=>{
        console.log("user-connect ", data);
        let peer_id = data["sid"];
        let display_name = data["name"];
        _peer_list[peer_id] = undefined; // add new user to user list
        addVideoElement(peer_id, display_name);
    });
    socket.on("user-disconnect", (data)=>{
        console.log("user-disconnect ", data);
        let peer_id = data["sid"];
        delete _peer_list[peer_id]; // remove user from user list
        removeVideoElement(peer_id);
    });
    socket.on("user-list", (data)=>{
        console.log("user list recvd ", data);
        myID = data["my_id"];
        if( "list" in data) // not the first to connect to room
        {
            let recvd_list = data["list"];  

            // add existing users to user list
            for(peer_id in recvd_list)
            {
                display_name = recvd_list[peer_id];
                _peer_list[peer_id] = undefined;
                addVideoElement(peer_id, display_name);
            }            

            start_webrtc();
        }
        else // first user to connect
        {
            navigator.mediaDevices.getUserMedia(mediaConstraints)
            .then((stream)=>{
                myVideo.srcObject = stream;                
            })
            .catch((e)=>{
                alert("Error! Unable to start video! ", e);
            });
        }

        
    });

    function log_user_list()
    {
        for(let key in _peer_list)
        {
            console.log(`${key}: ${_peer_list[key]}`);
        }
    }

    //---------------webrtc--------------------    

    var PC_CONFIG = {
        iceServers: [
            {
                urls: ['stun:stun.l.google.com:19302', 
                        'stun:stun1.l.google.com:19302',
                        'stun:stun2.l.google.com:19302',
                        'stun:stun3.l.google.com:19302',
                        'stun:stun4.l.google.com:19302'
                    ]
            },
        ]
    };

    function log_error(e){console.log("[ERROR] ", e);}
    function sendViaServer(data){socket.emit("data", data);}

    socket.on("data", (msg)=>{
        switch(msg["type"])
        {
            case "offer":
                handleOfferMsg(msg);
                break;
            case "answer":
                handleAnswerMsg(msg);
                break;
            case "new-ice-candidate":
                handleNewICECandidateMsg(msg);
                break;
        }
    });

    function start_webrtc()
    {
        navigator.mediaDevices.getUserMedia(mediaConstraints)
        .then((stream)=>{
            myVideo.srcObject = stream;

            // send offer to all other members
            for(let peer_id in _peer_list)
            {
                invite(peer_id);
            }
        })
        .catch((e)=>{
            console.log("Error! Unable to start video! ", e);
        });
    }

    function invite(peer_id)
    {
        if(_peer_list[peer_id]){console.log("[Not supposed to happen!] Attempting to start a connection that already exists!")}
        else if(peer_id === myID){console.log("[Not supposed to happen!] Trying to connect to self!");}
        else
        {
            console.log(`Creating peer connection for <${peer_id}> ...`);
            createPeerConnection(peer_id);

            let local_stream = myVideo.srcObject;
            local_stream.getTracks().forEach((track)=>{_peer_list[peer_id].addTrack(track, local_stream);});
        }
    }

    function createPeerConnection(peer_id)
    {
        _peer_list[peer_id] = new RTCPeerConnection(PC_CONFIG);

        _peer_list[peer_id].onicecandidate = (event) => {handleICECandidateEvent(event, peer_id)};
        _peer_list[peer_id].ontrack = (event) => {handleTrackEvent(event, peer_id)};
        _peer_list[peer_id].onnegotiationneeded = () => {handleNegotiationNeededEvent(peer_id)};
    }

    
    
    function handleNegotiationNeededEvent(peer_id)
    {
        _peer_list[peer_id].createOffer()
        .then((offer)=>{return _peer_list[peer_id].setLocalDescription(offer);})
        .then(()=>{
            console.log(`sending offer to <${peer_id}> ...`);
            sendViaServer({
                "sender_id": myID,
                "target_id": peer_id,
                "type": "offer",
                "sdp": _peer_list[peer_id].localDescription
            });
        })
        .catch(log_error);
    } 

    function handleOfferMsg(msg)
    {   
        peer_id = msg['sender_id'];

        console.log(`offer recieved from <${peer_id}>`);
        
        createPeerConnection(peer_id);
        let desc = new RTCSessionDescription(msg['sdp']);
        _peer_list[peer_id].setRemoteDescription(desc)
        .then(()=>{
            let local_stream = myVideo.srcObject;
            local_stream.getTracks().forEach((track)=>{_peer_list[peer_id].addTrack(track, local_stream);});
        })
        .then(()=>{return _peer_list[peer_id].createAnswer();})
        .then((answer)=>{return _peer_list[peer_id].setLocalDescription(answer);})
        .then(()=>{
            sendViaServer({
                "sender_id": myID,
                "target_id": peer_id,
                "type": "answer",
                "sdp": _peer_list[peer_id].localDescription
            });
        })
        .catch(log_error);
    }

    function handleAnswerMsg(msg)
    {
        peer_id = msg['sender_id'];
        console.log(`answer recieved from <${peer_id}>`);
        let desc = new RTCSessionDescription(msg['sdp']);
        _peer_list[peer_id].setRemoteDescription(desc)
    }


    
    function handleICECandidateEvent(event, peer_id)
    {
        if(event.candidate){
            sendViaServer({
                "sender_id": myID,
                "target_id": peer_id,
                "type": "new-ice-candidate",
                "candidate": event.candidate
            });
        }
    }

    function handleNewICECandidateMsg(msg)
    {
        var candidate = new RTCIceCandidate(msg.candidate);
        _peer_list[msg["sender_id"]].addIceCandidate(candidate)
        .catch(log_error);
    }

    
    function handleTrackEvent(event, peer_id)
    {
        console.log(`track event recieved from <${peer_id}> : ${event}`);
        
        if(event.streams)
        {
            getVideoObj(peer_id).srcObject = event.streams[0];
        }
    }

</script>

<style type="text/css">
    body{
        background-color: rgb(250,250,250);
    }
    .heading
    {
        margin: 0;
        padding: 1rem 1rem 1rem 2rem;
        background-color: rgb(58, 136, 209);
        color: #ffffff;
    }
    .room-info{
        color: rgb(206, 235, 255);
    }
    .video-grid
    {  
        display: grid;
        grid-auto-flow: dense; 
        grid-template-columns: auto auto; 
        gap: 1rem;    
        padding: 1rem;
    }
    .video-item {
        
        background-color: #FEFFFF;
        text-align: center;
        padding: 6px;
        border-radius: 3px;
        
    }
    .vid-wrapper
    {
        background-color: rgb(22, 25, 27);
        padding: 0;
    }
    .vid-wrapper video{
        max-width: 45vw;
        max-height: 30vh;        
    }
    .display-name{
        color: #17252A;
        font-family:sans-serif;
        font-size: 18px;
        padding: 2px;
    }

    #control_box{
        background-color: rgb(250, 250, 250);
        height: 180px;

        padding: 0.8rem;

        margin: 1.5rem 0.5rem 0.5rem 0.5rem;
        border-radius: 3px; 
    }
    #local_vid{       
        max-height: 140px;
        object-fit: contain;
    } 

</style>

</html>