<!DOCTYPE html>
<html lang="en">
<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat</title>
</head>
<body>

    <div class="heading mb-4">
        <h1 class="display-4">Video Chat</h1>
    </div>
    <div class="container text-center mt-5">
        <h4>Welcome to video chat!</h4>
        <p>
            Enter a custom room name, and click join! <br> 
            Share the room name with your friends, so that they can join too!
        </p>

        <form id="room_form" method="POST" class="form shadow" style="max-width:400px; margin-left: auto; margin-right: auto;">
            <div class="input-group mb-3">
                <input type="text" name="room_id" id="room_id" class="form-control" placeholder="Custom Room Name" autofocus required>
                <div class="invalid-feedback">Please fill out this field.</div>
                <div class="input-group-append">
                    <input type="submit" value="Join" class="btn btn-primary">
                </div>
                
            </div>
        </form>
    </div>
    
</body>
</html>