<!DOCTYPE html>
<html lang="en">
<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potato Meet</title>
</head>
<body>
    <h2>Hello world!</h2>
    <h3>Welcome to free video chat room!</h3>
    <hr>
    <p style="color: rgb(136, 136, 136);">This is completely unreliable and insecure!</p>
    <form method="POST">
        <label style="font-size: 20px; text-align: center; color: rgb(52, 125, 228);" for="room_id">Enter a room name and join!</label>
        <input type="text" name="room_id" id="room_id">
        <input type="submit" value="Join">
    </form>
</body>
</html>